<ngx-charts-bubble-chart-and-line-chart
[scheme]="colorScheme"
[results]="bubbleChartData"
[customColors]="customColors"
[animations]="animations"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[legendTitle]="legendTitle"
[showGridLines]="showGridLines"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[linedata]="lineChartSeries"
[lineChartScheme]="lineChartScheme"
[isLineChartEnabled]="isLineChartEnabled"
>
</ngx-charts-bubble-chart-and-line-chart>
<!-- <ngx-charts-bubble-chart
      [results]="bubbleChartData"
      [showGridLines]="showGridLines"
      [legend]="showLegend"
      [legendTitle]="legendTitle"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [scheme]="colorScheme">
</ngx-charts-bubble-chart> -->
